<h2 class="text-center">新增《<%= @movie.title %>》影评</h2>

<div class="col-md-8 col-md-offset-2">
  <%= simple_form_for [@movie,@review] do |f| %>
    <div class="form-froup">
      <%= f.input :content, input_html: { class: "form_control"} %>
    </div>
    <div class="form-actions">
      <%= f.submit "提交", disable_with: "Submiting...", class: "btn btn-default" %>
    </div>
  <% end %>
</div>
