<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2017 Movie Review
    <br>
    Design by
    <a href="/" target="_new">Sunwenke</a>
    <%= link_to("about", about_index_path) %>
    <%= link_to("about2", about2_path) %>
  </p>
</footer>
